* {
  margin: 0;
  padding: 0;
}
.clearfix {
  overflow: auto;
}
a {
  text-decoration: none;
}

body {
  background-color: #020d18;
  font-family: sans-serif;
}
.Body {
  margin: 0 auto;
  width: 75%;
}

.Slider {
  clear: both;
  width: 75%;
  margin: 0 auto;
  padding: 10px 0;
  overflow: hidden;
}
.Slides {
  width: 500%;
  display: flex;
}
.Slides input {
  display: none;
}
.Slide {
  width: 20%;
  transition: 2s;
  padding-bottom: 90px;
}
.Slide div {
  margin: 0 0.4%;
  width: 24%;
  color: #fff;
  float: left;
  font-family: sans-serif;
}
.Slide div h6 {
  margin: 7px 0;
  padding: 6px 8px;
  border-radius: 5px;
  float: left;
  background-color: red;
}
.Slide div h3 {
  float: right;
  margin-right: 5%;
  margin-top: 7px;
}
.Slide div h2 {
  clear: both;
}
.Slide img {
  width: 95%;
  height: 400px;
}
.Slide h3 i {
  color: orange;
}
/*CSS for Manual Slide Nevigation*/
.Nevigation-manual {
  display: flex;
  position: absolute;
  margin: 0 0 0 67%;
  bottom: 18px;
}
.manual-btn {
  border: 2px solid white;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  display: none;
}
.manual-btn:hover {
  background: yellow;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -60%;
}
#radio3:checked ~ .first {
  margin-left: -20%;
}
#radio4:checked ~ .first {
  margin-left: -40%;
}

/*CSS for Automatic Animation*/

.Nevigation-auto {
  /*float: right;*/
  position: absolute;
  display: flex;
  margin: 0px 0 0 67%;
}
/*.Nevigation-auto div{
	border: 2px solid white;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;	
	transition: 1s;
}*/
#radio1:checked ~ .Nevigation-auto .auto-btn1 {
  background: yellow;
}
#radio2:checked ~ .Nevigation-auto .auto-btn2 {
  background: yellow;
}
#radio3:checked ~ .Nevigation-auto .auto-btn3 {
  background: yellow;
}
#radio4:checked ~ .Nevigation-auto .auto-btn4 {
  background: yellow;
}

.Content {
  width: 75%;
  margin: 60px auto 100px auto;
}
.In-theater {
  width: 65%;
  float: left;
}
.In-theater h2 {
  color: #fff;
  font-family: sans-serif;
  float: left;
  padding-bottom: 20px;
}
.In-theater h5 {
  padding-top: 15px;
  color: grey;
  font-family: sans-serif;
  float: right;
}
.Ancours {
  clear: both;
}
.Ancours a {
  color: grey;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-right: 2%;
}
.Ancours a:hover {
  color: yellow;
}
.Slider2 {
  clear: both;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
}
.Slides2 {
  width: 500%;
  display: flex;
}
.Slides2 input {
  display: none;
}
.Slide2 {
  width: 20%;
  transition: 2s;
}
.Slide2 div {
  margin: 0 1%;
  width: 23%;
  color: #fff;
  float: left;
  font-family: sans-serif;
}
.Slide2 div h6 {
  margin: 7px 0;
  padding: 6px 8px;
  border-radius: 5px;
  float: left;
  background-color: red;
}
.Slide2 div h3 {
  float: right;
  margin-right: 5%;
  margin-top: 7px;
  font-size: 14px;
}
.Slide2 div h2 {
  clear: both;
  font-size: 19px;
}
.Slide2 img {
  width: 100%;
  height: 230px;
}
.Slide2 h3 i {
  color: orange;
}
.topic h5:hover {
  color: yellow;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 5);
  transform: scale(0.95);
}

.Nevigation-manual2 {
  display: flex;
  float: right;
}
.manual-btn2 {
  border: 2px solid white;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn2:hover {
  background: yellow;
}

#radi5:checked ~ .first2 {
  margin-left: 0;
}
#radi6:checked ~ .first2 {
  margin-left: -20%;
}
#radi7:checked ~ .first2 {
  margin-left: -40%;
}
#radi8:checked ~ .first2 {
  margin-left: -60%;
}

.Sidebar {
  float: right;
  width: 25%;
}
.Advertiesment1 {
  margin-bottom: 50px;
}
.Advertiesment1 img {
  width: 100%;
  height: 230px;
}
.SpotlightCelebrities {
  font-family: sans-serif;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}
.SpotlightCelebrities a div h4 {
  color: #fff;
}
.SpotlightCelebrities a div h5 {
  color: grey;
}
.SpotlightCelebrities h3 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}
.SpotlightCelebrities a div {
  margin-top: 15px;
}
.SpotlightCelebrities a div img {
  width: 20%;
  height: 75px;
  float: left;
  margin-right: 5%;
}
.SpotlightCelebrities .link {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  color: grey;
}
.Advertiesment2 {
  margin-top: 25px;
}
.Advertiesment2 img {
  width: 100%;
  height: 100px;
}

.Ontv {
  width: 65%;
  float: left;
  margin-top: 50px;
}
.Ontv h2 {
  color: #fff;
  font-family: sans-serif;
  float: left;
  padding-bottom: 20px;
}
.Ontv h5 {
  padding-top: 15px;
  color: grey;
  font-family: sans-serif;
  float: right;
}
.Slider3 {
  clear: both;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
}
.Slides3 {
  width: 500%;
  display: flex;
}
.Slides3 input {
  display: none;
}
.Slide3 {
  width: 20%;
  transition: 2s;
}
.Slide3 div {
  margin: 0 1%;
  width: 23%;
  color: #fff;
  float: left;
  font-family: sans-serif;
}
.Slide3 div h6 {
  margin: 7px 0;
  padding: 6px 8px;
  border-radius: 5px;
  float: left;
  background-color: red;
}
.Slide3 div h3 {
  float: right;
  margin-right: 5%;
  margin-top: 7px;
  font-size: 14px;
}
.Slide3 div h2 {
  clear: both;
  font-size: 19px;
}
.Slide3 img {
  width: 100%;
  height: 230px;
}
.Slide3 h3 i {
  color: orange;
}
.Nevigation-manual3 {
  display: flex;
  float: right;
}
.manual-btn3 {
  border: 2px solid white;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn3:hover {
  background: yellow;
}

#radi9:checked ~ .first3 {
  margin-left: 0;
}
#radi10:checked ~ .first3 {
  margin-left: -20%;
}
#radi11:checked ~ .first3 {
  margin-left: -40%;
}
#radi12:checked ~ .first3 {
  margin-left: -60%;
}

.balance {
  clear: both;
  height: 5px;
}

.Content2 {
  background-color: #06121e;
}
.Iframe {
  clear: both;
  width: 75%;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}
.Iframe iframe {
  float: left;
}
.Iframe h2 {
  color: #fff;
  margin-bottom: 20px;
}
.Iframe-R {
  background-color: #0b1a2a;
  float: right;
  width: 34%;
  padding: 38px 0 14px 0;
}
.Iframe-R .point {
  padding: 15px 0;
}
.Iframe-R .point:hover {
  background-color: #233a50;
  cursor: pointer;
}
.Iframe-R img {
  width: 11%;
  height: 60px;
  float: left;
  margin-right: 5%;
  margin-left: 5%;
  padding-left: 10%;
}
.Iframe-R h4 {
  color: #fff;
  font-family: sans-serif;
}
.Iframe-R h5 {
  color: grey;
  font-family: sans-serif;
}

.Iframe-R .part h4:hover {
  cursor: pointer;
}

.Content3 {
  width: 75%;
  margin: 0 auto;

  padding-top: 50px;
}
.Content3-L {
  width: 65%;
  float: left;
}
.Advertiesment3 img {
  width: 100%;
  height: 80px;
}
.LatestNews {
  padding-top: 50px;
}
.LatestNews h2 {
  color: #fff;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.LatestNews img {
  float: left;
  width: 18%;
  height: 230px;
  margin: 0 3% 0 3%;
}
.LatestNews h6 {
  color: grey;
}
.LatestNews h4 {
  color: #4280bf;
  line-height: 25px;
}
.LatestNews h4:hover {
  cursor: pointer;
}
.LatestNews p {
  color: grey;
  font-size: 14px;
  line-height: 23px;
}
.More {
  padding-top: 50px;
}
.More h6 {
  margin-bottom: 30px;
  margin-top: 10px;
  color: grey;
}
.More .title {
  font-size: 14px;
  color: #4280bf;
}
.More .title:hover {
  border-bottom: 1px solid #4280bf;
}
.More-L {
  float: left;
  width: 48%;
  margin-right: 2%;
}
.More-L h4 {
  color: #fff;
  margin-bottom: 20px;
}
.go {
  float: right;
  font-size: 13px;
  font-weight: bold;
  color: grey;
}
.go:hover {
  color: yellow;
}
.More-R {
  float: right;
  width: 48%;
  margin-left: 2%;
}

.Content3 {
  margin-bottom: 60px;
}
.Content3-R {
  width: 25%;
  float: right;
}
.S-Media-Sider h3 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}
.S-Media-Sider .i {
  float: left;
  width: 15%;
  margin-left: 10px;
  margin-top: 20px;
  color: #fff;
}
.S-Media-Sider div i:hover {
  cursor: pointer;
  color: yellow;
}
.Advertiesment4 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.Advertiesment4 img {
  width: 100%;
  height: 200px;
}
.Tweet h3 {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}

.error {
  background-color: red;
  color: #fff;
  width: 75%;
  margin: 30px auto 0 auto;

  padding: 10px 0;
  text-align: center;
}
.cool {
  background-color: green;
  color: #fff;
  width: 75%;
  margin: 30px auto 0 auto;

  padding: 10px 0;
  text-align: center;
}
.errmsg {
  margin: 0 0 5px 15%;
  color: red;
}

/*Media Queryf for Index file*/
@media screen and (max-width: 1280px) {
  .Slide {
    width: 30%;
    transition: 2s;
    padding-bottom: 90px;
  }
  .Slide div {
    margin: 0 0.4%;
    width: 21.9%;
  }
  .Slide img {
    width: 95%;
    height: 400px;
  }
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -60%;
  }
  #radio3:checked ~ .first {
    margin-left: -30%;
  }
  #radio4:checked ~ .first {
    margin-left: -90%;
  }
}
@media screen and (max-width: 900px) {
  .Slide {
    width: 40%;
    transition: 2s;
    padding-bottom: 90px;
  }
  .Slide div {
    margin: 0 0.4%;
    width: 24.2%;
  }
  .Slide img {
    width: 95%;
    height: 400px;
  }
  #radio1:checked ~ .first {
    margin-left: -20%;
  }
  #radio2:checked ~ .first {
    margin-left: -60%;
  }
  #radio3:checked ~ .first {
    margin-left: -30%;
  }
  #radio4:checked ~ .first {
    margin-left: -90%;
  }
}
@media screen and (max-width: 550px) {
  .Slide {
    width: 40%;
    transition: 2s;
    padding-bottom: 90px;
  }
  .Slide div {
    margin: 0 0.4%;
    width: 24%;
  }
  .Slide img {
    width: 95%;
    height: 400px;
  }
  #radio1:checked ~ .first {
    margin-left: -20%;
  }
  #radio2:checked ~ .first {
    margin-left: -60%;
  }
  #radio3:checked ~ .first {
    margin-left: -30%;
  }
  #radio4:checked ~ .first {
    margin-left: -90%;
  }
}
