* {margin: 0; padding: 0;}
.clearfix{overflow: auto;}
a {text-decoration: none;}

body{
	background-color: #020d18;
	font-family: sans-serif;
}
.Background{
	background:url(../img/netflix-mosaique-series-tele-tv.png);

}
.Header{
	background-color: rgba(1,13,35,0.85);
	
	

}
.Body{
	
	margin: 0 auto;
	width: 75%;
}
.NavBar{
	padding-top: 30px;
	font-weight: bold;
	position: sticky;
	top: 0;

}
.NavBar img{
	float: left;
}

.NavBar .List1 ul li{

	font-size: 14px;
	margin-left: 4%;
	padding-top: 20px;
	float: left;
	display: inline-block;
}
.NavBar ul li a{
	color: 	#a7b4bf;
}
.NavBar .List2 ul li{
	margin-left: 4%;
	font-size: 14px;
	padding-top: 20px;
	display: inline-block;
	float: right;
}
.NavBar .List2 ul li:first-child{
	background-color: #dd003f;
	
	margin-left: 2%;
	padding: 12px 2.3%;
	margin-top: 8px;
	border-radius: 20px;
}
.NavBar .List2 ul li .signup {
	color: #fff;
}
.Search{
	margin-top: 30px;
}
.Search select{
	color: #fff;
	background-color: #233a50;
	height: 39.4px;
	border: 2px solid black;
	border-bottom: 2px solid black;
	width: 9%;
}
.Search input{
	height: 35px;
	background-color: #233a50;
	border: 2px solid black;
	border-bottom: 2px solid black;
	width: 85.8%;
}
.Search button{
	background-color: #233a50;
	border: 2px solid black;
	border-bottom: 2px solid black;
	
	height:39px;
	width: 4%;
}

.SocialMedia{
	
	
	
	color: #fff;
	font-family: sans-serif;
	font-weight: bold;
	margin-top: 35px;
	margin-bottom: 25px;
	float: right;
	margin-right: 12.8%;
}
.SocialMedia i{
	padding-left: 10px;
}




.Slider{
	clear: both;
	width: 75%;
	margin: 0 auto;
	padding: 10px 0;
	overflow: hidden;
}
.Slides{
	width: 500%;
	display: flex;
}
.Slides input{
	display: none;
}
.Slide{
	width: 20%;
	transition: 2s;
	padding-bottom: 90px;
}
.Slide div{
	margin: 0 0.4%;
	width: 24%;
	color: #fff;
	float: left;
	font-family: sans-serif;
	
}.Slide div h6{
	margin: 7px 0;
	padding: 6px 8px;
	border-radius: 5px;
	float: left;
	background-color: red;
	
}.Slide div h3{
	float: right;
	margin-right: 5%;
	margin-top: 7px;
}.Slide div h2{
	clear: both;
}
.Slide img{
	
	
	height: 400px;
}
.Slide h3 i{
	color: orange;
}
/*CSS for Manual Slide Nevigation*/
.Nevigation-manual{
	display: flex;
	position: absolute;
	margin: 0 0 0 67%;
	bottom: 18px;
	
}
.manual-btn{
	border: 2px solid white;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn:not(:last-child){
	
}
.manual-btn:hover{
	background: yellow;
}

#radio1:checked ~ .first{
	margin-left: 0;
}#radio2:checked ~ .first{
	margin-left: -60%;
}#radio3:checked ~ .first{
	margin-left: -20%;
}#radio4:checked ~ .first{
	margin-left: -40%;
}



/*CSS for Automatic Animation*/

.Nevigation-auto{
	position: absolute;
	display: flex;
	margin: 434px 0 0 67%;
	
	
	
}
.Nevigation-auto div{
	border: 2px solid white;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	
	transition: 1s;
} 
#radio1:checked ~ .Nevigation-auto .auto-btn1{
	background: yellow;
}#radio2:checked ~ .Nevigation-auto .auto-btn2{
	background: yellow;
}#radio3:checked ~ .Nevigation-auto .auto-btn3{
	background: yellow;
}#radio4:checked ~ .Nevigation-auto .auto-btn4{
	background: yellow;
}




.Content{
	width: 75%;
	margin: 0 auto;
	padding: 60px 0 100px 0;
}
.In-theater{
	
	width: 65%;
	float: left;
}
.In-theater h2{
	color: #fff;
	font-family: sans-serif;
	float: left;
	padding-bottom: 20px;
}
.In-theater h5{
	padding-top: 15px;
	color: grey;
	font-family: sans-serif;
	float: right;
}
.Ancours{
	clear: both;
}
.Ancours a{
	color: grey;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding-right: 2%;

}
.Slider2{
	clear: both;
	width: 100%;
	padding: 10px 0;
	overflow: hidden;
}
.Slides2{
	width: 500%;
	display: flex;
}
.Slides2 input{
	display: none;
}
.Slide2{
	width: 20%;
	transition: 2s;
	
}
.Slide2 div{
	margin: 0 1%;
	width: 23%;
	color: #fff;
	float: left;
	font-family: sans-serif;
}
.Slide2 div h6{
	margin: 7px 0;
	padding: 6px 8px;
	border-radius: 5px;
	float: left;
	background-color: red;
	
}.Slide2 div h3{
	float: right;
	margin-right: 5%;
	margin-top: 7px;
	font-size: 14px;
}.Slide2 div h2{
	clear: both;
	font-size: 19px;
}
.Slide2 img{
	
	width: 100%;
	height: 230px;
}
.Slide2 h3 i{
	color: orange;
}


.Nevigation-manual2{
	
	display: flex;
	float: right;
	
	
	
	
}
.manual-btn2{
	border: 2px solid white;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn2:not(:last-child){
	
}
.manual-btn2:hover{
	background: yellow;
}

#radi5:checked ~ .first2{
	margin-left: 0;
}#radi6:checked ~ .first2{
	margin-left: -20%;
}#radi7:checked ~ .first2{
	margin-left: -40%;
}#radi8:checked ~ .first2{
	margin-left: -60%;
}




.Sidebar{
	background-color: green;
	
	float: right;
}
.Ontv{
	float: left;
	background-color: yellow;
	
}
.balance{
	clear: both;
	background-color: red;
	height: 5px;
}




.FBackground{
	background:url(../img/netflix-mosaique-series-tele-tv.png);
}
.FooterBack{
	background-color: rgba(1,13,35,0.85);
}
.Footer{
	width: 75%;
	margin: 0 auto;
}
.Fncol{
	margin: 70px 0;
	float: left;
	margin-right: 8.5%;
}

.Fmcol{
	margin: 70px 0;
	float: left;
	width: 25%;
}
.Fmcol p{
	color: grey;
	font-family:sans-serif;
	font-size: 15px;
	margin-bottom: 15px;
}.Fncol a{
	float: left;
	color: grey;
	font-family:sans-serif;
	margin-bottom: 9px;
	font-size: 15px;
}
.Fmcol button{
	color: #dd003f;
	background-color: transparent;
	font-family: sans-serif;
	font-weight: bold;
	border: none;
}
.Fmcol input{
	margin-bottom: 20px;
	width: 100%;
	background-color: transparent;
	border-radius: 3px;
	padding: 7px 0;
	border: 1px solid #fff;
}
.Fmcol h3{
	margin-bottom: 20px;
	color: white;
	font-family:sans-serif;
	

}.Fncol h3{
	color: white;
	font-family:sans-serif;
	margin-bottom: 20px;
}
.Fmcol img{
	margin-bottom: 50px;
}
.Last{
	clear: both;
	height: 45px;
	background-color: #233a50;
}
.Last h5{
	text-align: center;
	color: grey;
	padding-top: 15px;
}