


.Header .Topic h1{
	color: #fff;
	width: 75%;
	margin: 0 auto;
	font-family: sans-serif;
	text-align: center;
	margin-top: 70px;
	padding-bottom: 90px;
	padding-top: 150px;
}


.Listtop{
	width: 75%;
	margin: 0 auto;
	padding-bottom: 20px;
}
.Listtop ul li{
	display: inline-block;
	text-align: center;
	margin-right: 2%;
	border: 1px solid #eee;
	border-radius: 15px;
	padding: 5px 2%;
	transition: .4s;
}
.Listtop ul li a{
	color: #eee;
}
.Listtop ul li:hover{
	color: #fff;
	background-color: #dd003f;
	border: 1px solid #dd003f;
}

.Content{
	width: 75%;
	margin: 80px auto;
	
}
.Content .MovieList{
	width: 65%;
	float: left;
	
}

.balance{
	clear: both;
	height: 1px;
}
.Content .MovieList .Heading h5{
	color: #a7b4c2;
	font-size: 14px;
	border-bottom: 1px solid #a7b4c2;
	border-top: 1px solid #a7b4c2;
	border-right: 1px solid #a7b4c2;
	border-left: none;
	padding: 8px 0;
	font-weight: normal;
	float: left;
	width: 60%;
}
.Content .MovieList .Heading h6{
	color: #a7b4c2;
	font-size: 14px;
	border-bottom: 1px solid #a7b4c2;
	border-top: 1px solid #a7b4c2;
	border-left: none;
	border-right: none;
	padding: 8px 1% 8px 0px;
	font-weight: normal;
	float: left;
	width: 28.5%;
	text-align: right;
} 
.Content .MovieList .Heading h4{
	color: #a7b4c2;
	font-size: 14px;
	border-bottom: 1px solid #a7b4c2;
	border-top: 1px solid #a7b4c2;
	border-left: 1px solid #a7b4c2;
	border-right: none;
	padding: 8px 0px;
	font-weight: normal;
	float: left;
	width: 4.7%;
	text-align: center;
}
.Content .MovieList .Heading h4 a{
	color: #a7b4c2;
}
.Content .MovieList .Heading h4 a:hover{
	color: yellow;
	cursor: pointer;
}
.Content .MovieList .Heading h4 i:hover{
	color: yellow;
	cursor: pointer;
}

.List .movie{
	width: 22%;
	float: left;
	margin: 40px 3% 0 0;
	overflow: hidden;
	color: #fff;
	
	font-family: sans-serif;
}
.movie img{
	width: 100%;
	height: 250px;
	border-radius: 5px;
}
.movie h6{
	margin: 7px 0;
	padding: 6px 8px;
	border-radius: 5px;
	float: left;
	background-color: red;
}
.movie h3{
	float: right;
	margin-right: 5%;
	margin-top: 7px;
	font-size: 14px;
}
.movie h2{
	clear: both;
	font-size: 19px;
}
.movie h3 i{
	color: orange;
}
.Tailing{
	margin-top: 35px;
}
.Content .MovieList .Tailing h5{
	color: #a7b4c2;
	font-size: 14px;
	border-bottom: 1px solid #a7b4c2;
	border-top: 1px solid #a7b4c2;
	border-right: 1px solid #a7b4c2;
	border-left: none;
	padding: 8px 0;
	font-weight: normal;
	float: left;
	width: 40%;
}
.Content .MovieList .Tailing h6{
	color: #a7b4c2;
	font-size: 14px;
	border-bottom: 1px solid #a7b4c2;
	border-top: 1px solid #a7b4c2;
	border-left: none;
	border-right: none;
	padding: 8px 1% 8px 0px;
	font-weight: normal;
	float: left;
	width: 39%;
	text-align: right;
} 
.Content .MovieList .Tailing h4{
	color: #a7b4c2;
	font-size: 14px;
	border-bottom: 1px solid #a7b4c2;
	border-top: 1px solid #a7b4c2;
	border-left: 1px solid #a7b4c2;
	border-right: none;
	padding: 8px 1% 8px 1%;
	font-weight: normal;
	float: left;
	width: 17%;
	text-align: center;
}
.Content .MovieList .Tailing h4 a{
	color: #a7b4c2;
}
.Content .MovieList .Tailing h4 a:hover{
	color: yellow;
	cursor: pointer;
}
.Content .MovieList .Tailing h4 i:hover{
	color: yellow;
	cursor: pointer;
}




.Content .Sidebar{
	width: 25%;
	float: right;
}
.Sidesearch h3{
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 8px;
}
.Searchpad{
	background-color: #0b1a2a;
	margin: 25px 0px 70px 0px;
	overflow: hidden;
	border: 3px solid #233a50;
	border-radius: 5px;
}
.Searchpad label{
	padding-bottom: 10px;
	margin-left: 6%;
	color: #a7b4c2;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}
.Searchpad input{
	width: 87%;
	margin: 10px 6% 10px 6%;
	padding: 10px 0px;
	background-color: #233a50;
	border-color: #233a50;
	color: #a7b4c2;
}
.Searchpad select{
	width: 87%;
	margin: 10px 6% 10px 6%;
	padding: 10px 0px;
	background-color: #233a50;
	border-color: #233a50;
	color: #a7b4c2;
}
.Searchpad select option{
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
}
.Searchpad .sp select{
	width: 36.5%;
}
.Searchpad .find input{
	color: #fff;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 14px;
	background-color: #dd003f;
	border-color: #dd003f;
}
.Searchpad .find input:hover{
	cursor: pointer;
}

.Advertiesment1{
	margin-bottom: 50px;
}
.Advertiesment1 img{
	width: 100%;
	height: 230px;
}

.S-Media-Sider h3{
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 8px;
}
.S-Media-Sider .i{
	float: left;
	width: 15%;
	margin-left: 10px
	margin-top: 20px;
	color: #fff;
}
.S-Media-Sider div i:hover{
	cursor: pointer;
	color: yellow;
}

.Advertiesment2{
	margin-bottom: 50px;
	margin-top: 50px;
}
.Advertiesment2 img{
	width: 100%;
	height: 230px;
}

.Tweet h3{
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 8px;
}
