* {
  margin: 0;
  padding: 0;
}
.clearfix {
  overflow: auto;
}
a {
  text-decoration: none;
}

body {
  background-color: #020d18;
  font-family: sans-serif;
}
.Body {
  margin: 0 auto;
  width: 75%;
}
.balance {
  clear: both;
  height: 1px;
}

.Background {
  background: url(../img/db5ea0f9642cd681fa7f229ed3429d66.png);
  background-size: cover;
  background-position: center;
}

.Upper {
  width: 75%;
  margin: 0 auto;
}
.Upper h1 {
  clear: both;
  color: #fff;
  float: left;
  font-family: cursive;
  padding-top: 70px;
  padding-bottom: 40px;
  text-align: left;
}
.Upper h3 {
  color: #a7b4c2;
  font-weight: normal;
  float: left;
  padding-top: 90px;
  padding-bottom: 40px;
  padding-left: 2%;
}
.Upper button {
  background-color: transparent;
  margin-right: 4%;
  border: none;
  color: #dd003f;
  font-weight: bold;
  font-family: sans-serif;
}
.Upper button:hover {
  cursor: pointer;
  color: yellow;
}
.Upper button i:hover {
  cursor: pointer;
  color: yellow;
}
.Upper button i {
  color: #dd003f;
  border-radius: 50%;
  padding: 15px;
  border: 1px solid #dd003f;
}
.Ratingbar {
  margin-top: 50px;
  margin-bottom: 70px;
}
.Ratingbar h5 i {
  color: orange;
  font-size: 33px;
  margin-right: 5%;
}
.Ratingbar h4 i {
  color: orange;
  font-size: 33px;
  margin-left: 1%;
}
.Ratingbar h5 {
  float: left;
  border: 1px solid #a7b4c2;
  color: #a7b4c2;
  text-align: center;
  padding: 15px 0;
  width: 20%;
  border-left: none;
}
.Ratingbar h4 {
  float: left;
  border: 1px solid #a7b4c2;
  border-right: none;
  color: #a7b4c2;
  text-align: left;
  padding: 15px 0;
  padding-left: 1%;
  width: 78%;
}
.empty {
  height: 90px;
}

.Content {
  width: 75%;
  margin: 30px auto 90px auto;
}
.Cont-L {
  width: 30%;
  float: left;
}
.Cont-L img {
  width: 100%;
  height: 500px;
}
.Cont-R {
  float: right;
  width: 65%;
}
.Cont-R .Items ul li {
  font-size: 20px;
  margin-right: 5%;
  margin-bottom: 50px;
  padding-bottom: 20px;
  display: inline-block;
}
.Cont-R .Items ul li:last-child {
  margin-right: 0;
}
.Cont-R .Items ul li a {
  color: #a7b4c2;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
}
.Cont-R .Items ul li a:hover {
  color: yellow;
  border-bottom: 3px solid yellow;
}
.Cont-R .Overview {
  width: 65%;
  float: left;
}
.Cont-R .Overview h3 {
  font-family: sans-serif;
  color: #a7b4c2;
  padding-bottom: 10px;
  font-weight: bold;
}
.Cont-R .Overview h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: #4280bf;
  padding-bottom: 20px;
}
.Cont-R .Overview p {
  color: #a7b4c2;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 35px;
  /*overflow: hidden;*/
}
.Cont-R .Overview h4 {
  color: #fff;
  font-family: sans-serif;
  border-bottom: 1px solid #233a50;
  padding-bottom: 7px;
}
.Cont-R .Overview iframe {
  margin-top: 20px;
  margin-bottom: 35px;
  height: 273px;
}
.Cont-R .Overview img {
  width: 21%;
  float: left;
  height: 100px;
  margin: 20px 2%;
  margin-bottom: 35px;
}
.Cont-R .Summery {
  float: right;
  width: 27%;
}
.Cont-R .Summery h5 {
  color: #a7b4c2;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
}
.Cont-R .Summery h6 {
  color: #4280bf;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 15px;
  padding-bottom: 40px;
}
.Cont-R .Summery .Advertiesment1 img {
  width: 100%;
  height: 210px;
}

.Above {
  margin-bottom: 25px;
}
.Cont-R .Above h3 {
  font-family: sans-serif;
  color: #a7b4c2;
  padding-bottom: 10px;
  font-weight: bold;
}
.Cont-R .Above h2 {
  font-family: sans-serif;
  font-weight: bold;
  color: #4280bf;
  padding-bottom: 20px;
}
.Cont-R .Above input {
  background-color: #dd003f;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  width: 23%;
  border: none;
  padding: 15px;
  border-radius: 25px;
}
.Cont-R .Above input:hover {
  cursor: pointer;
}
.Cont-R .All-reviews h5 {
  color: #a7b4c2;
  border: 1px solid #a7b4c2;
  border-left: none;
  border-right: none;
  padding: 8px 0;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 50px;
}
.Cont-R .Single-review .About img {
  width: 7%;
  height: 50px;
  margin-right: 3%;
  margin-bottom: 25px;
  background-color: green;
  float: left;
}
.Cont-R .Single-review .About h3 {
  color: #a7b4c2;
  font-size: 20px;
  margin-bottom: 10px;
}
.Cont-R .Single-review .About h5 i {
  color: orange;
  margin-right: 1%;
  margin-bottom: 1px;
}
.Cont-R .Single-review .About h6 {
  color: #a7b4c2;
  font-size: 12px;
  margin-bottom: 3px;
}
.Cont-R .Single-review .About h4 {
  color: #4280bf;
  font-size: 13px;
}
.Cont-R .Single-review .Review p {
  color: #a7b4c2;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 25px 0;
  border-bottom: 1px solid #233a50;
  padding-bottom: 25px;
}

.Cont-R .Videos h4 {
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  margin-bottom: 25px;
  padding-bottom: 8px;
  border-bottom: 1px solid #233a50;
}
.Cont-R .Videos iframe {
  width: 30.5%;
  margin: 0 1% 0 1%;
  border-radius: 5px;
  height: 150px;
}

.Cont-R .Main-video iframe {
  width: 96.5%;
  border-radius: 5px;
  margin: 15px 1% 25px 1%;
  height: 400px;
}
.Cont-R .Photos h4 {
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  margin-bottom: 25px;
  padding-bottom: 8px;
  border-bottom: 1px solid #233a50;
}
.Cont-R .Photos img {
  width: 15%;
  margin-right: 1.5%;
  height: 100px;
  float: left;
  margin-bottom: 10px;
  border-radius: 5px;
}

.Cont-R .Related-movies {
  margin-bottom: 35px;
}
.Cont-R .Related-movies img {
  float: left;
  width: 25%;
  margin-right: 3%;
  height: 270px;
  border-radius: 5px;
}
.Cont-R .Related-movies h4 {
  color: #fff;
  padding-bottom: 15px;
}
.Cont-R .Related-movies h4 i {
  color: orange;
}
.Cont-R .Related-movies .descrip p {
  color: #a7b4c2;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a7b4c2;
}
.Cont-R .Related-movies p {
  color: #a7b4c2;
  font-family: sans-serif;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 5px;
}
.Cont-R .Related-movies h5 {
  color: #a7b4c2;
  font-family: sans-serif;
  font-weight: normal;
  padding-top: 5px;
}
.Cont-R .Related-movies h6 {
  color: #a7b4c2;
  font-family: sans-serif;
  font-weight: normal;
  color: #4280bf;
  font-size: 14px;
}

.Add-review form {
  background-color: #0b1a2a;
  padding: 35px 0;
  border-radius: 5px;
}
.Add-review form label {
  color: #a7b4c2;
  width: 30%;
  margin-left: 5%;
  float: left;
  font-family: sans-serif;
}
.Add-review form p {
  margin-bottom: 15px;
  margin-top: 15px;
}
.Add-review form input {
  color: #a7b4c2;
  width: 60%;
  padding: 7px 0;
  font-size: 15px;
  background-color: #233a50;
  border: 1px solid #233a50;
}
.Add-review form button {
  margin-left: 35%;
  color: #fff;
  font-size: 15px;
  width: 25%;
  padding: 13px;
  background-color: #dd003f;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
}
.Add-review form textarea {
  font-family: sans-serif;

  height: 250px;
  width: 60%;
  color: #a7b4c2;
  font-size: 15px;
  background-color: #233a50;
  border: 1px solid #233a50;
}

.error {
  background-color: red;
  color: #fff;
  width: 75%;
  margin: 30px auto 0 auto;

  padding: 10px 0;
  text-align: center;
}
.cool {
  background-color: green;
  color: #fff;
  width: 75%;
  margin: 30px auto 0 auto;

  padding: 10px 0;
  text-align: center;
}
.errmsg {
  margin: 0 0 5px 15%;
  color: red;
}
