
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #eee;
}
.List1{
	position: absolute;
}
.List1 ul{
	list-style: none;
	margin-top: 2%;
	display: inline-flex;
	position: fixed;
}
.List1 ul .sub_menue{
	display: none;
	
	margin-top: 30px;
}
.List1 ul .sub_menue ul{
	display: block;
}.List1 ul .sub_menue2 ul{
	display: block;
}
/*.List1 ul.d ul a:hover .sub_menue{
	display: inline-block;
	position: absolute;
	margin-top: 15px;
	
	color: red;
	background-color: green;
}*/
